/* 
  Remove spin buttons from number inputs with 'no-spin' class
*/
/* Chrome, Safari, Edge, Opera */
.no-spin-button::-webkit-outer-spin-button,
.no-spin-button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spin-button[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* 
  Tables
*/
.table-column-fit-content {
  width: 1%;
  white-space: nowrap;
}
