@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
   * ------------------------------------------------------
   * Light theme
   * ------------------------------------------------------   
   */
  :root,
  :root[data-theme="light"] {
    --background: theme(colors.zinc.50);
    --foreground: theme(colors.white);

    --border: theme(colors.gray.100);
    --border-foreground: rgb(224, 230, 237);

    --primary: theme(colors.gray.800);
    --primary-foreground: theme(colors.gray.800);

    --secondary: theme(colors.gray.500);
    --secondary-foreground: theme(colors.lime.800);

    --accent: theme(colors.indigo.600);
    --accent-foreground: theme(colors.blue.500);

    --input: theme(colors.white);
    --ring: theme(colors.gray.300);

    /* Sidebar */
    --sidebar-primary: theme(colors.gray.800);
    --sidebar-secondary: theme(colors.gray.500);
    --sidebar-hover: theme(colors.gray.100);
    --sidebar-focus: theme(colors.gray.100);
  }

  /*
   * ------------------------------------------------------
   * Dark theme
   * ------------------------------------------------------   
   */
  :root[data-theme="dark"] {
    --background: theme(colors.slate.950);
    --foreground: hsl(218, 46.2%, 10.2%);

    --border: rgb(25, 30, 58);
    --border-foreground: rgb(23, 38, 60);

    --primary: hsl(229, 15.5%, 59.6%);
    --primary-foreground: rgb(229, 231, 235);

    --secondary: hsl(219, 28.6%, 43.9%);
    --secondary-foreground: hsl(229, 15.5%, 59.6%);

    --accent: theme(colors.blue.600);
    --accent-foreground: hsl(229, 83.4%, 59.8%);

    --input: hsl(218, 47.1%, 13.3%);
    --ring: theme(colors.blue.600);

    /* Sidebar */
    --sidebar-primary: hsl(229, 15.5%, 59.6%);
    --sidebar-secondary: hsl(219, 28.6%, 43.9%);
    --sidebar-hover: hsl(224, 35.1%, 14.5%);
    --sidebar-focus: theme(colors.gray.800);
  }
}

@layer base {
  html {
    font-family: "Nunito Variable", ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  body {
    @apply bg-background text-primary;
  }
}

/* 
  Remove spin buttons from number inputs with 'no-spin' class
*/
/* Chrome, Safari, Edge, Opera */
.no-spin-button::-webkit-outer-spin-button,
.no-spin-button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spin-button[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* 
  Tables
*/
.table-column-fit-content {
  width: 1%;
  white-space: nowrap;
}
